<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Верстка Чат Портал</title>
    <meta name="author" content="www.sitesoft.ru">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-TextLayoutMetrics" content="gdi">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="theme-color" content="#fff">
    <link type="image/x-icon" href="static/img/favicon.ico" rel="icon">
    <link type="image/x-icon" href="static/img/favicon.ico" rel="shortcut icon">
    <link href="styles/vendors.c7a0.css" rel="stylesheet"><link href="styles/app.0a2f.css" rel="stylesheet"></head>
  <body>

    <div class="app" id="app">
      <header class="header">
        <div class="header__text"><%=title%>
        </div>
      </header>
      <main class="main" role="main">
        <div class="content-width">
          <div class="portal-menu"><a href="/balance">
              <div class="portal-menu__item"><span class="portal-menu__image-wrapper"><img src="../../static/img/balance-icon.png" alt="баланс"></span>Пополнить баланс
                <div class="portal-menu__arrow-wrapper">
                  <div class="portal-menu__arrow">
                  </div>
                </div>
              </div></a><a href="/avtoritet">
              <div class="portal-menu__item"><span class="portal-menu__image-wrapper"><img src="../../static/img/avtoritet-icon.png" alt="авторитет"></span>Стать авторитетом
                <div class="portal-menu__arrow-wrapper">
                  <div class="portal-menu__arrow">
                  </div>
                </div>
              </div></a><a href="/friends">
              <div class="portal-menu__item"><span class="portal-menu__image-wrapper"><img src="../../static/img/friends-icon.png" alt="friends"></span>Друзья
                <div class="portal-menu__arrow-wrapper">
                  <div class="portal-menu__arrow">
                  </div>
                </div>
              </div></a><a href="/gifts">
              <div class="portal-menu__item"><span class="portal-menu__image-wrapper"><img src="../../static/img/gifts-icon.png" alt="gifts"></span>Подарки
                <div class="portal-menu__arrow-wrapper">
                  <div class="portal-menu__arrow">
                  </div>
                </div>
              </div></a>
          </div>
          <% if (users.length) {%>
          <section class="avtoritet-section">   
            <div class="banner">
              <% users.forEach((user)=> { %>
                 <div class="avtoritet-item">
                <div class="avtoritet-item__avatar"><img src="../../static/img/test.png" alt="test">
                </div>
                <div class="avtoritet-item__content"><img class="avtoritet-item__avatar-icon" src="../../static/img/queen-icon.png" alt="" role="presentation"/>
                  <div class="avtoritet-item__title-wrapper"><img class="avtoritet-item__star-icon" src="../../static/img/avtoritet-icon.png" alt="" role="presentation"/>
                    <div class="text text--normal" style="color:<%user.color%>"> <%=user.nic%>
                    </div>
                  </div>
                  <div class="text text--small">Авторитет:
                    <span style="color:red">
                      <%=user.rating%>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <% }) -%>
            <% }%>
            <div class="portal-menu"><a href="/balance.html">
                <div class="portal-menu__item"><span class="portal-menu__image-wrapper"><img src="../../static/img/balance-icon.png" alt="баланс"></span>Виллы
                  <div class="portal-menu__arrow-wrapper">
                    <div class="portal-menu__arrow">
                    </div>
                  </div>
                </div></a>
            </div>
          </section>
        </div>
      </main>
      <footer class="footer">
        <div>
        </div><span class="footer__time">13:44</span>
        <div class="footer__text">
           назад
        </div>
      </footer>
    </div><script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>
    <!--JS файлы которые начинаются с markup_ и example_ используются ТОЛЬКО в верстке, к себе не тянуть и не подключать!-->
    <script type="text/javascript" src="scripts/runtime.afed.js"></script><script type="text/javascript" src="scripts/vendors.b460.js"></script><script type="text/javascript" src="scripts/app.3e9d.js"></script></body>
</html>