<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Верстка Друзья</title>
    <meta name="author" content="www.sitesoft.ru">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-TextLayoutMetrics" content="gdi">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="theme-color" content="#fff">
    <link type="image/x-icon" href="static/img/favicon.ico" rel="icon">
    <link type="image/x-icon" href="static/img/favicon.ico" rel="shortcut icon">
      <link href="styles/vendors.4aa3.css" rel="stylesheet"><link href="styles/app.c77e.css" rel="stylesheet"></head>
  <body>
    <div class="app" id="app">
      <header class="header">
        <div class="header__text"><%=title%>
        </div>
      </header>
      <main class="main" role="main">
        <div class="content-width">
          <section class="friends-section">   
            <div class="banner">
              <div class="friends-item">
                <div class="friends-item__user">
                  <div class="text text--small" style="color:red">
                     Вася red
                  </div>
                </div>
                <div class="friends-item__icons"><svg class="svg"  style="color:red" width="15" height="15">
<g>
<circle cx='50' cy='50' r='25'/>
</g>
</svg><img class="friends-item__icon" src="../../static/img/mail-icon.png" alt="" role="presentation"/><img class="friends-item__icon" src="../../static/img/close-icon.svg" alt="" role="presentation"/>
                </div>
              </div>
              <div class="friends-item">
                <div class="friends-item__user">
                  <div class="text text--small" style="color:green">
                     Вася green
                  </div>
                </div>
                <div class="friends-item__icons"><svg class="svg"  style="color:red" width="15" height="15">
<g>
<circle cx='50' cy='50' r='25'/>
</g>
</svg><img class="friends-item__icon" src="../../static/img/mail-icon.png" alt="" role="presentation"/><img class="friends-item__icon" src="../../static/img/close-icon.svg" alt="" role="presentation"/>
                </div>
              </div>
              <div class="friends-item">
                <div class="friends-item__user">
                  <div class="text text--small" style="color:yellow">
                     Вася yellow
                  </div>
                </div>
                <div class="friends-item__icons"><svg class="svg"  style="color:red" width="15" height="15">
<g>
<circle cx='50' cy='50' r='25'/>
</g>
</svg><img class="friends-item__icon" src="../../static/img/mail-icon.png" alt="" role="presentation"/><img class="friends-item__icon" src="../../static/img/close-icon.svg" alt="" role="presentation"/>
                </div>
              </div>
              <div class="friends-item">
                <div class="friends-item__user">
                  <div class="text text--small" style="color:black">
                     Вася black
                  </div>
                </div>
                <div class="friends-item__icons"><svg class="svg"  style="color:red" width="15" height="15">
<g>
<circle cx='50' cy='50' r='25'/>
</g>
</svg><img class="friends-item__icon" src="../../static/img/mail-icon.png" alt="" role="presentation"/><img class="friends-item__icon" src="../../static/img/close-icon.svg" alt="" role="presentation"/>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <footer class="footer">
        <div>
        </div><span class="footer__time">13:44</span>
        <div class="footer__text">
           назад
        </div>
      </footer>
    </div><script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>
    <!--JS файлы которые начинаются с markup_ и example_ используются ТОЛЬКО в верстке, к себе не тянуть и не подключать!-->
    <script type="text/javascript" src="scripts/runtime.afed.js"></script><script type="text/javascript" src="scripts/vendors.05e5.js"></script><script type="text/javascript" src="scripts/app.06c4.js"></script></body>
</html>