<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Верстка Mochat</title>
    <meta name="author" content="@Noname2">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-TextLayoutMetrics" content="gdi">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="theme-color" content="#fff">
    <link type="image/x-icon" href="static/img/favicon.ico" rel="icon">
    <link type="image/x-icon" href="static/img/favicon.ico" rel="shortcut icon">
    <link href="styles/vendors.c7a0.css" rel="stylesheet"><link href="styles/app.0a2f.css" rel="stylesheet"></head>
  <body>
    <div class="app" id="app">
      <main class="main" role="main">
        <section class="section">
          <div class="container">
            <div class="content">
              <h1 class="mb-4">Верстка Mochat</h1>
              <ol>
                <li><a href="chatportal" target="_blank"> Чат Портал </a></li>
                <li><a href="balance" target="_blank"> Баланс</a></li>
                <li><a href="avtoritet" target="_blank"> Авторитет</a></li>
              </ol>
            </div>
          </div>
        </section>
      </main>
    </div><script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>
    <!--JS файлы которые начинаются с markup_ и example_ используются ТОЛЬКО в верстке, к себе не тянуть и не подключать!-->
    <script type="text/javascript" src="scripts/runtime.afed.js"></script><script type="text/javascript" src="scripts/vendors.b460.js"></script><script type="text/javascript" src="scripts/app.3e9d.js"></script></body>
</html>